/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    overflow-x: hidden;
}

.bg-backgroundimg{
background-image: url("../src/assets/Images/bghome.svg");
}